@font-face {
  font-family: "Japanese";
  src: url('frontend/fonts/JKG-L_3.ttf') format('truetype');
  unicode-range: U+3000-30FF, U+FF00-FFEF, U+4E00-9FAF;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('frontend/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('frontend/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}

html, div#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, Japanese;
  font-weight: normal;

  background-color: #333;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #333;

  width: 100%;
  height: 100%;
  color: white;

  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

hr {
  border: 1px solid #333;
  border-bottom: none;
}

a {
  color: #FFC;
}

ul {
  padding: 0;
  margin: 0;
  padding-left: 4px;
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
    width: 0.9em;
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.00);
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.25);
    outline: 1px solid slategrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre {
  font-family: Roboto, Japanese;
  font-weight: regular;
}

canvas {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}


@keyframes animNotification {
	0% {
		opacity: 0;
		transform: translateX(320px);
	}

  30% {
		opacity: 1;
		transform: translateX(0);
	}

	80% {
		opacity: 1;
		transform: translateX(0);
	}

  100% {
		opacity: 0;
		transform: translateX(320px);
	}
}